@model MyanmarCV.Models.careerProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>careerProfile</legend>

    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">yearOfWorkingExp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.yearOfWorkingExp)
    </div>

    <div class="display-label">highestEducationLevelId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.highestEducationLevelId)
    </div>

    <div class="display-label">latestPosition</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.latestPosition)
    </div>

    <div class="display-label">latestSalary</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.latestSalary)
    </div>

    <div class="display-label">expectedSalary</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.expectedSalary)
    </div>

    <div class="display-label">availablityId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.availablityId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
