@{
    ViewBag.Title = "Find Jobs in Myanmar, Apply for Myanmar Jobs with www.myanmarcv.com Myanmar";
    ViewBag.Description = "Search thousands of Jobs in Myanmar at MyanmarCV.com. Find new employment in Myanmar. Employers, advertise jobs and find resumes here.";
    ViewBag.Keywords = "jobs in myanmar, myanmar jobs, myanmar, job,  IT jobs, HR jobs, finance jobs, sales jobs, marketing jobs, engineering jobs, customer service jobs, accounting jobs, management jobs, legal jobs, business development, career resource,  career, create resume, education career, employer, employment, employment opportunity, employment asia,  find job, free job posting,  it recruitment, human resource, internet recruitment, jobstreet, job, job interview, job listing, job site, job vacancy, job opening, job placement, job opportunity, job seeker, job tips,  job alert,  job online, job search,online job search, online recruitment,  post advertisement, recruitment, recruitment agency, resume, resume service";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<body id="brjob_link">
<br />
                        	<div style="width:900px; margin:0 auto;display:table;">
                        		<div style="float:left; width:630px; margin:0px 15px 7px 8px;  display:table;">
                                
                                    		<table border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <td style="background:url('../../images/main_left.jpg') no-repeat; height:35px; width:11px;"></td>
                                                    <td style="font-family: Calist;font-size:16px;background:url('../../images/main_body.jpg') repeat-x;height:35px;width:608px; text-align:left; font-weight:bold">Browse Jobs</td>
                                                    <td style="background:url('../../images/main_right.jpg') no-repeat; height:35px;width:11px;"></td>
                                                  </tr>
                                                  <tr>
                                                  	<td colspan="3" style="border-left:1px solid #dad8d9; border-right:1px solid #dad8d9;">
                                                 			<br />
                                                 			<div style="float:left; width:310px; padding-right:8px; padding-left:5px; text-align:left;">
                                                            	<div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=1" class="job_title">Accounting</a><font color="#a7a7a7"> (@ViewBag.Accounting)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                               <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=2" class="job_title">Admin / Human Resources</a><font color="#a7a7a7"> (@ViewBag.Admin)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                               <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=3" class="job_title">Banking / Finance</a><font color="#a7a7a7"> (@ViewBag.Banking)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                               <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=4" class="job_title">Beauty and Wellness</a><font color="#a7a7a7"> (@ViewBag.Beauty)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=9" class="job_title">Hospitality</a><font color="#a7a7a7"> (@ViewBag.Hospitality)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=10" class="job_title">Information Technology</a><font color="#a7a7a7"> (@ViewBag.IT)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=11" class="job_title">Insurance</a><font color="#a7a7a7"> (@ViewBag.Insurance)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=12" class="job_title">Management</a><font color="#a7a7a7"> (@ViewBag.Management)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=13" class="job_title">Manufacturing</a><font color="#a7a7a7"> (@ViewBag.Manufacturing)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=14" class="job_title">Marketing / Public Relationship</a><font color="#a7a7a7"> (@ViewBag.Marketing)</font></li></ul>
                                                              		
                                                               </div>
                                                                
                                                            </div>
                                                            <div  style="float:left; width:300px;text-align:left;">
                                                            	<div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=5" class="job_title">Building / Construction</a><font color="#a7a7a7"> (@ViewBag.Building)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                               <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=6" class="job_title">Design</a><font color="#a7a7a7"> (@ViewBag.Design)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                               <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=7" class="job_title">Education</a><font color="#a7a7a7"> (@ViewBag.Education)</font></li></ul>
                                                              		 <hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                               <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=8" class="job_title">Engineering</a><font color="#a7a7a7"> (@ViewBag.Engineering)</font></li></ul>
                                                              		<hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=15" class="job_title">Media / Advertising</a><font color="#a7a7a7"> (@ViewBag.Advertising)</font></li></ul>
                                                              		<hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                 <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=16" class="job_title">Medical Services</a><font color="#a7a7a7"> (@ViewBag.Medical)</font></li></ul>
                                                              		<hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                 <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=19" class="job_title">Property</a><font color="#a7a7a7"> (@ViewBag.Property)</font></li></ul>
                                                              		<hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                 <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=23" class="job_title">Transportation / Logistics</a><font color="#a7a7a7"> (@ViewBag.Transportation)</font></li></ul>
                                                              		<hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                 <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=21" class="job_title">Sales / Customer Service/ BD</a><font color="#a7a7a7"> (@ViewBag.sales)</font></li></ul>
                                                              		<hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                 <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=22" class="job_title">Telecommunications</a><font color="#a7a7a7"> (@ViewBag.telecommunication)</font></li></ul>
                                                              		<hr size="1px" color="#e3e3e3" align="left" />
                                                               </div>
                                                                 <div >
                                                                    <ul style="list-style-image:url('../../images/bullet.jpg');padding-left:20px"><li><a href="ViewLatestJob/?jobTypeId=24" class="job_title">Others</a><font color="#a7a7a7"> (@ViewBag.Others)</font></li></ul>
                                                              		
                                                               </div>
                                                            </div>
                                                           
                                                    </td>
                                                 </tr>
                                                 <tr>
                                                 	<td style="background-image:url('../../images/main_bot_left.jpg'); height:9px; background-repeat:no-repeat;"></td>
                                                    <td style="border-bottom:1px solid #dad8d9;"></td>
                                                    <td style="background-image:url('../../images/main_bot_right.jpg');height:9px; background-repeat:no-repeat;"></td>
                                                 </tr>
                                                </table>
                                 
                                </div>
                                <div style="float:left; width:230px; margin:0px 8px 7px 0px">
					<img src="../../images/adv_resume.jpg">
					<img src="../../images/adv_mmcv.jpg">
                                </div>
                        	</div>

<br /><br /><br /></body>